body{
    background-color: rgb(89, 120, 121);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
    padding: 0;
}

h1{
    background: linear-gradient(
        #4b4b53,
        #f0f8ff,
        #4b4b53
    );
    margin: 0%;
    padding: 0.5%;
    text-align: center;
    border-style: solid;

}

.container{
    margin: 35px auto;
    text-align: center;
     background: linear-gradient(
        #f0f8ff,
        #f0f8ff,
        #4b4b53
    );
    width: 15%;
    height: 100%;
    border-radius: 10px;
}

button{
    margin: 10px;
    font-size: medium;
}