<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/index.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
</head>

<body>

    <header class="topbar">
        <div class="logo-box"></div>
        <h2>Psicologia C&A</h2>
    </header>

    <main class="container">
        <div class="card">

            <h1>Cadastrar</h1>
            <p class="subtitle">Faça o seu cadastro</p>

            <form action="/cadastro" method="post"> 
                <label>email</label>
                <input type="email" name="email" placeholder="exemplo@gmail.com">

                <label>senha</label>
                <input type="password" name="senha" placeholder="senha">

                <button type="submit">Cadastrar</button>

                {% if error %}
                <script>
                    alert("email já existente")
                </script>   
                {% endif %}


            </form>

        </div>
    </main>

</body>
</html>