<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/index.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
    <title>Teste</title>
</head>
<body>
    
    <header>
        <nav class="navegation">
            <h1>{{ message }}</h1>
            <a href="">teste</a>
        </nav>
    </header>

    
    <div class="bloco">
        <h2>Esse site será um projeto pessoal para um site de psicologia</h2><br>
        <p>
            Aqui será a área geral, onde vão receber atualizações de projetos
            ou lembretes de algo
        </p>
    </div>
        
    
    

    


</body>
</html>