<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Teste</title>
</head>
<body>
    
    <header>
        <h1>Bem vindo ao site!</h1>
        <nav class="container">
            <ul>
                <a href="../paginas/pacientes.html">
                    <li>Pacientes</li>
                </a>
                <a href="#">
                    <li>Anotações</li>
                </a>
                <a href="#">
                    <li>Check-in</li>
                </a>
            </ul>
        </nav>
    </header>

    <div class="layout">
        <aside class="sidebar">
            <h3 style="text-align: center;">Atualizações</h3>
            <hr>
            <p>Teste Rápido</p>
        </aside>
    </div>

    
    <aside class="bloco">
        <h2>Esse site será um projeto pessoal para um site de psicologia</h2><br>
        <p>
            Aqui será a área geral, onde vão receber atualizações de projetos
            ou lembretes de algo
        </p>
    </aside>
    

    


</body>
</html>