<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Teste</title>
</head>
<body>
    
    <header>
        <h1>Bem vindo ao site!</h1>
        <nav class="container">
            <ul>
                <li>Teste1</li>
                <li>teste2</li>
                <li>teste3</li>
            </ul>
        </nav>
    </header>

    


</body>
</html>