<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Data Insight - Login</title>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

    <header class="topbar">
        <div class="logo-box"></div>
        <h2>Psicologia C&A</h2>
    </header>

    <main class="container">
        <div class="card">

            <h1>Entrar</h1>
            <p class="subtitle">Entre com sua conta</p>

            <form action="/login" method="post">
                <label>email</label>
                <input type="email" placeholder="exemplo@gmail.com" name="email">

                <label>senha</label>
                <input type="password" placeholder="senha" name="senha">

                <button type="submit">login</button>

                <a href="/cadastro">Cadastrar</a>
            </form>

        </div>
    </main>

</body>
</html>